.DS_Store
.mono/
configstore/
gh/
gtk-2.0/
iterm2/
karabiner/
qBittorrent/
sourcery/
xbuild/
spicetify/
gcloud/
sanity/
zed/embeddings
zed/prompts/prompts-library-db.0.mdb
zed/.tmpZSXBD5
zed/.tmpfatZ3H
github-copilot/
/aerospace-swipe
/barrier
/cava
/contour
/Microsoft\VisualStudio Services
/Microsoft\VisualStudio Services
/NuGet
/starship
/tex-fmt
texput.log
/thefuck
/uv
/dynamic-island-sketchybar
